# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# UGREEN / NAS Sync protection
#SyncVersion/
.stignore
.stversions/

# Temporary / Caches
*.tmp
*.log
.cache/

# Node / Python if any
node_modules/
__pycache__/
*.pyc
